#ontario-covid-viz {
  max-width: 72rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: auto;
}

#ontario-covid-viz .apexcharts-svg {
  overflow: initial !important;
}

#ontario-covid-viz .apexcharts-canvas {
  margin-left: -5px;
}

.ontario-infographic-number {
  font-size: 1.85rem;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.ontario-infographic-text,
.ontario-font-raleway {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.ontario-infographic-subtext {
  margin: 0;
  font-size: 1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ontario-font-raleway {
  line-height: 1.5;
}

.ontario-no-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ontario-covid-stats {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: end;
  justify-content: flex-start;
}
.ontario-covid-stats li {
  margin-bottom: 1.5rem;
  /* flex-basis: 13%; */
}

.ontario-data-viz-flex--justify-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ontario-data-viz-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media screen and (max-width: 73em) {
  .ontario-covid-stats li {
    flex-basis: calc(33% - 2.5rem);
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 40em) {
  .ontario-covid-stats li {
    flex-basis: calc(47% - 2.5rem);
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 20em) {
  .ontario-covid-stats li {
    margin-right: 0.75rem;
  }
}

/* end of from ontario covid website*/

#ontario-covid-viz a .link {
  text-decoration: none;
}

@media only screen and (min-width: 1163px) {
  #ontario-covid-viz .hrule {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: 1px solid #d8d8d8;
  }
}

#ontario-covid-viz .hrule-a {
  margin-top: 45px;
  border: 1px solid #d8d8d8;
}

@media only screen and (max-width: 640px) {
  #ontario-covid-viz .hrule-b {
    margin-top: 10px;
    border: 1px solid #d8d8d8;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1163px) {
  #ontario-covid-viz .hrule {
    margin-top: 40px;
    border: 1px solid #d8d8d8;
  }
}

@media only screen and (max-width: 640px) {
  #ontario-covid-viz .hrule {
    margin-top: 40px;
    border: 1px solid #d8d8d8;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1163px) {
  #ontario-covid-viz .hrule {
    margin-top: 40px;
    border: 1px solid #d8d8d8;
  }
}

#ontario-covid-viz .hrule-special {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid #d8d8d8;
  width: 100%;
}

/* Tables */

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 4px 4px !important;
}

/* Visibility */

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .ontario-show-for-small-only {
    display: none !important;
  }
}

@media screen and (max-width: 39.9375em) {
  .ontario-hide-for-small-only {
    display: none !important;
  }
}

.arow a {
  padding: 1.5rem 1.5rem 0 0;
}

.arow {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 640px) {
  .arow a {
    padding: 0.2rem;
    padding-left: 0;
  }
}

@media only screen and (max-width: 640px) {
  .arow {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
  }
}

@media only screen and (min-width: 1163px) {
  #ontario-covid-viz .margins {
    padding-top: 2.5rem;
  }
}

@media only screen and (min-width: 640px) {
  #ontario-covid-viz .margins {
    padding-top: 1.5rem;
  }
}

/* Fix for legands with Drupal */
.apexcharts-legend.position-top {
  height: auto !important;
  transform: initial !important;
}
