#root{
  padding: 1rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.apexcharts-svg {
  overflow: initial !important;
}

/* use ds for grid */
/* .chart {
  padding-left: 90px;
  padding-right: 90px;
} */

/* .container {
  padding-left: 3rem;
  padding-right: 3rem;
} */

/* @media screen and (max-width: 40em) { */
  /* behaviour for charts mobile */
  .chart {
    position: relative;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
  }
/* } */


/* scroll bar for mobile charts */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}